<div class="sidebar" th:fragment="sidebar2">
    <div class="sidebar-item">🏠<br><a th:href="@{/admin/home}" style="text-decoration: none; color: inherit;">Home</a></div>
    <div class="sidebar-item">📋<br><a th:href="@{/menus}" style="text-decoration: none; color: inherit;">Manage Menu</a></div>
    <div class="sidebar-item">🪑<br><a th:href="@{/tables}" style="text-decoration: none; color: inherit;">Manage Tables</a></div>
    <div class="sidebar-item">💳<br><a th:href="@{/admin/profile/view}" style="text-decoration: none; color: inherit;">Manage Profile</a></div>
</div>
